$color: (
  "primary": #F627A3,
  "secondary": #F859B9,
  "tertiary": #FB8CD0,
  "accent": #FDBEE6

);

body {
  box-sizing: border-box;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  width: fit-content;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    a {
      text-decoration: none;
      color: black;
    }
  }
}

#index {
  width: 100%;
  height: 100vh;
  div {
    height: fit-content;
    margin-top: auto;
    h1 {
      margin: 0 auto;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    ul {
      width: fit-content;
      margin: 0 auto;
      display: inherit;
      flex-direction: inherit;
      li {
        padding: 8px 66px;
        text-align: center;
        &:hover {
          background-color: rgb(228, 228, 228);
        }
      }
    }

  }
}

button {
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px 20px;
  font-size: 1rem;
  border: 1px solid map-get($map: $color, $key: accent);
  background-color: map-get($map: $color, $key: primary);
  &:hover {
    background-color: map-get($map: $color, $key: secondary);
  }
  &:active {
    background-color: map-get($map: $color, $key: tertiary);
  }
}